<h2>List of ratings</h2>

<p> Number of ratings: <%= @ratings.count %> </p>

<ul>
  <% @ratings.each do |rating| %>
      <%user = User.find rating.user_id%>
      <li> <%= rating %> <%= link_to user.username, user_path(rating.user_id) %> </li>
  <% end %>
</ul>

<%= link_to 'New Rating', new_rating_path %>